spring:
  application:
    name: DemoMicroservice  # This should match the URI used in the gateway
server:
  port : 8081
eureka:
    client:
        service-url:
            defaultZone: http://eureka:8761/eureka  # Updated service name
        fetch-registry: true
        register-with-eureka: true